In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
%run  Data.ipynb

final

ERROR:root:File `u'Data.ipynb.py'` not found.

NameError: name 'final' is not defined

In [20]:
# Convert the GEI Score into a binary output
final = final.sort_values(["GEI Score"], ascending=False)
final = final.reset_index(drop=True)

# Any country with GEI score above 42.2 is considered a potential country
final['GEI Score'] = final['GEI Score'].apply(lambda x: 1 if x >= 42.2 else 0)
final['GEI Score'] = final["GEI Score"].astype(bool)
final['GEI Score'] = final["GEI Score"].astype(int)

<img src="pics/GEI.png" width="850">

This map was exported from the GEDI website, check it out [here](http://thegedi.org/countries), and it shows that countries with an index lower than 42.2, colored in orange, were not considered top ranked countries and that is why countries above that threshold were considered awesome for expansion and were labeled 1 and all the other countries were labeled 0.

In [21]:
final.head()

,Country,Code,ATMs per 1000 Adults,iPhone Users,Starbucks Locations,GEI Score
0,Switzerland,CH,97.611221,11700000,61,1
1,Canada,CA,221.126457,29390000,1468,1
2,Sweden,SE,40.178787,12639000,18,1
3,Denmark,DK,54.014077,7266000,21,1
4,Australia,AU,160.137780,31770000,22,1

In [16]:
final.tail()

,Country,Code,ATMs per 1000 Adults,iPhone Users,Starbucks Locations,GEI Score
47,Indonesia,ID,49.482874,338426000,268,0
48,Brazil,BR,114.793823,257814000,102,0
49,El Salvador,SV,33.792877,9334000,11,0
50,Guatemala,GT,33.831861,18121000,7,0
51,Cambodia,KH,10.877094,20851000,4,0

In [5]:
#logistic Regression Model
X = final[["ATMs per 1000 Adults", "iPhone Users", "Starbucks Locations"]]
y = final[["GEI Score"]]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

print "Logistic Regression's accuracy is", logreg.score(X_test,y_test)*100,"%"

NameError: name 'final' is not defined

### What does that mean?

- The logistic regression model was able to classify the test data correctly 44% of the time. Although this score will have to be compared with the other models, its still considered a low score for a supervised learning algorithm.

- More adjustments would need to be made to the model, for example, removing outliers, feature scaling or normalization.

### Naive Bayes

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB

In [4]:
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_train)

print "Gaussian Naive Baye's Acuracy is", gnb.score(X_test, y_test) * 100,"%"

NameError: name 'X_train' is not defined